<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>2048-solver</title>

  <link href="style/main.css" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="apple-touch-icon" href="meta/apple-touch-icon.png">
  <link rel="apple-touch-startup-image" href="meta/apple-touch-startup-image-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"> <!-- iPhone 5+ -->
  <link rel="apple-touch-startup-image" href="meta/apple-touch-startup-image-640x920.png"  media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)"> <!-- iPhone, retina -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
</head>
<body ng-app="2048-app">

    <div class="container" ng-controller="BoardController">
        <div class="heading">
            <h1 class="title">2048 solver</h1>
        </div>

        <div class="above-game">
            <p class="game-intro">Let the bot join the numbers and get to the <strong>2048 tile!</strong></p>
            <a class="restart-button" ng-click="boardService.move(directions.LEFT)">Reset</a>
        </div>

        <div class="game-container">

            <div class="grid-container">
                <div class="grid-row" ng-repeat="row in boardService.board track by $index">
                    <div class="grid-cell" ng-repeat="cell in row track by $index">
                    </div>
                </div>
            </div>

            <div class="tile-container">
                <span ng-repeat="(indexRow, row) in boardService.board track by $index">
                    <span ng-repeat="(indexCol, cell) in row track by $index">
                        <div ng-if="cell != 0" class="tile tile-{{cell}} tile-position-{{indexCol + 1}}-{{indexRow + 1}}">
                            <div class="tile-inner">
                               {{cell}}
                            </div>
                        </div>
                    </span>
                </span>
            </div>
        </div>
        <div class="game-explanation">
            <p>
                <strong class="important">Note:</strong> This version of auto-solver is based on the original 2048 game written by  <a href="http://git.io/2048" target="_blank">Gabriele Cirulli.</a>
            </p>
            <hr>
            <p>
                Created by <a href="http://github.com/alin-ciobanu" target="_blank">Alin Ciobanu.</a>
            </p>
        </div>
    </div>

    <script src="js/framework/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/BoardController.js"></script>
    <script src="js/services/custom-services.js"></script>

</body>
</html>
